/* .navUser {
    background-color: black;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
} */

/* button {
    position: fixed;
    top: -300px;
    width: 100px;
    height: 100px;
} */